@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import './global.css';
* {
  font-family: "Trebuchet MS", sans-serif;
  color: #fff;
}

body {
  width: 100%;
  height: 100%;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  margin: 10px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.9s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--light-theme-primary);
  display: flex;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
  background-image: none;
}

.card-back {
  background-color: var(--light-theme-secondary);
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.card-back .owner {
  position: absolute;
  top: 80%;
  left: 80%;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  font-size: small;
}


body.dark-mode .card-back {
  background-color: #fca311;
}

body.dark-mode .card-front {
  background-color: #14213d;
}


body.light-mode {
  background-color: var(--light-theme-background);
  color: black;
}

body.dark-mode {
  background-color: var(--dark-theme-background);
  color: white;
}

body.dark-mode h2,
body.dark-mode .support a {
  color: #fff;
}

body.dark-mode h2 {
  border-bottom: 2px solid white;
}


body.dark-mode form[id="form"] {
  background-color: #fca311;
}

form[id="form"] {
  float: left;
  background-color: #e28413;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

input[id="query"] {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

header {
  width: 100%;
  display: flex;
  padding: 10px;
  column-gap: normal;
  justify-content: center;
}

.headsssss {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 0 110px;
}


.file-upload {
  background-color: transparent;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.popover-form {
  color: #000;
  background-color: var(--bg-color-2);
}

#cancelBtn {
  text-align: center;
  background-color: #c13b2a;
  width: 15%;
  float: right;
  border-radius: 5px;
}

#confirmBtn {
  text-align: center;
  background-color: #1FB264;
  width: 15%;
  float: left;
  border-radius: 5px;
}

.popover-button-container {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}


input[id="nome"] {
  color: #000;
}

#popoverBtn {
  background-color: #1FB264;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}