@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Trebuchet MS", sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  margin: 10px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.9s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #000022;
  display: flex;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
  background-image: none;
}

.card-back {
  background-color: #e28413;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.card-back .owner {
  position: absolute;
  top: 80%;
  left: 80%;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  font-size: small;
}

h2 {
  width: 100%;
  font-size: 2rem;
  text-align: center;  
  border-bottom: 2px solid black;
  padding-bottom: 50px;
  gap: 10px;
  margin-top: -8px;
}

body.light-mode {
  background-color: #fbf5f3;
  color: black;
}

body.dark-mode {
  background-color: #000000;
  color: white;
}

body.dark-mode h2,
body.dark-mode .support a {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;

}

.checkbox-label {
  margin-top: 0;
  padding-bottom: 0%;
  bottom: auto;
  background-color: #111;
  width: 46px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  /*   left: 2px; */
  top: 7px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  padding: 6px 10px;
  cursor: pointer;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

body.dark-mode .card-back {
  background-color: #fca311;
}

body.dark-mode .card-front {
  background-color: #14213d;
}

body.dark-mode  h2{
  border-bottom: 2px solid white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}