*{
    font-family: "Trebuchet MS", sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
/*     border: 2px solid black;*/
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 10px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    
    background-color: #6A2C70;
    display: flex;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
    background-image: none;
    
}

.card-back {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

.card-back .owner {
    position: absolute; /* Position the owner text absolutely */
    top: 80%; /* Position it below the description */
    left: 80%; /* Align it to the left */
    margin-top: 10px; /* Add some space from the bottom of the description */
    font-weight: bold; /* Example styling */
    color: #fff; /* Example styling */
    font-size: small;
}


h2 {
    border-bottom: 2px solid black;
    text-align: center;
    padding-bottom: 1vh; /* Using vh instead of dvh for better compatibility */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Optional: adds space between text and checkbox */
}


.switch-mode {
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

input[type="checkbox"] {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    appearance: none; /* Remove default checkbox styling */
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%; /* Makes the checkbox round */
    cursor: pointer;
    position: relative;
    display: inline-block;
}

input[type="checkbox"]:checked {
    background-color: #000; /* Change background color when checked */
}

input[type="checkbox"]:checked::after {
    background-image: url(moon.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: #fff; /* Inner circle color */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::before {
    content: ''; /* Ensure pseudo-element is generated */
    background-image: url('moon.svg');
    background-size: cover; /* Ensure the image covers the element */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: #fff; /* Inner circle color */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}