.checkbox {
    opacity: 0;
    position: absolute;
    /* Esconde o elemento checkbox */
}

.checkbox-label {
    background-color: #111;
    width: 46px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
    /* Estiliza a label do checkbox */
}

.fa-moon {
    color: #f1c40f;
    /* Define a cor do ícone da lua */
}

.fa-sun {
    color: #f39c12;
    /* Define a cor do ícone do sol */
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    /*   left: 2px; */
    top: 7px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    /* Estiliza a bolinha do checkbox */
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
    /* Move a bolinha para a direita quando o checkbox está marcado */
}