/*--====== Variáveis Globais ======--*/
:root {
  --bg-color: #13131f; /* cor de fundo */
  --bg-color-2: #161623; /* segunda cor de fundo */
  --text-color: #a9afc3; /* cor do texto */
}

/*--====== Barra Lateral ======--*/
#sidebar {
  position: fixed; /* posição fixa */
  top: 0;
  left: 0;
  z-index: 999;
  max-width: 300px; /* largura máxima */
  width: 80%; /* largura */
  height: 100%; /* altura */
  padding: 2rem; /* preenchimento */
  background-color: var(--bg-color-2); /* cor de fundo */
  box-shadow: 0 10px 20px -4px #000; /* sombra */
  overflow-x: hidden; /* ocultar overflow horizontal */
  overflow-y: auto; /* rolagem vertical */
  pointer-events: none; /* eventos do ponteiro desativados */
  opacity: 0; /* opacidade */
  visibility: hidden; /* visibilidade */
  transform: translateX(-100%); /* translação horizontal */
  transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease; /* transição */
}

/* quando a barra lateral tem a classe 'show' */
#sidebar.show {
  pointer-events: all; /* eventos do ponteiro ativados */
  opacity: 1; /* opacidade */
  visibility: visible; /* visibilidade */
  transform: translateX(0); /* translação horizontal */
}

.sidebar_content {
  padding: 2.8rem 0; /* preenchimento */
  pointer-events: none; /* eventos do ponteiro desativados */
  /* para que a barra lateral não seja fechada ao clicar em sidebar_content */
}

.sidebar_content a {
  pointer-events: all; /* eventos do ponteiro ativados */
  /* para que todos os elementos 'a' dentro de sidebar_content sejam clicáveis */
}

.sidebar_body {
  border-top: 1px dashed var(--text-color); /* borda superior */
  border-bottom: 1px dashed var(--text-color); /* borda inferior */
}

.side_navlinks ul {
  display: grid; /* exibir como grid */
  gap: 2rem; /* espaçamento entre os elementos */
}

.side_navlinks li a {
  text-transform: uppercase; /* transformação de texto em maiúsculas */
  letter-spacing: 1px; /* espaçamento entre letras */
  opacity: 0.8; /* opacidade */
  color: #fca311; /* cor do texto */
}

.side_navlinks a:hover {
  opacity: 1; /* opacidade */
}

/*---- Toggler da Barra Lateral ----*/
.sidebar_toggler {
  position: fixed; /* posição fixa */
  top: 4vh; /* distância do topo */
  right: 3vw; /* distância da direita */
  width: 1.75rem; /* largura */
  height: 1.3rem; /* altura */
  display: flex; /* exibir como flex */
  flex-direction: column; /* direção da coluna */
  justify-content: space-between; /* justificar entre */
  cursor: pointer; /* cursor */
  overflow: hidden; /* ocultar overflow */
}

.sidebar_toggler span {
  background-color: #ddd; /* cor de fundo */
  width: 100%; /* largura */
  height: 2.4px; /* altura */
  transition: all 0.3s ease; /* transição */
  pointer-events: none; /* eventos do ponteiro desativados */
  /* para que não sobreponha o toggler da barra lateral */
}

/* se a barra lateral tiver a classe 'show', então o elemento adjacente (ou seja, sidebar_toggler) irá... */
#sidebar.show+.sidebar_toggler {
  justify-content: center; /* justificar ao centro */
}

#sidebar.show+.sidebar_toggler span {
  margin-top: -1.2px; /* margem superior */
  margin-bottom: -1.2px; /* margem inferior */
}

#sidebar.show+.sidebar_toggler span:first-child {
  transform: rotate(45deg); /* rotação */
}

#sidebar.show+.sidebar_toggler span:nth-child(2) {
  opacity: 0; /* opacidade */
  transform: translateX(-100%); /* translação horizontal */
}

#sidebar.show+.sidebar_toggler span:last-child {
  transform: rotate(-45deg); /* rotação */
}

.light-mode .slidebar-arrow {
  background-color: #000; /* cor de fundo */
}

.dark-mode .slidebar-arrow {
  background-color: #fff; /* cor de fundo */
}

.dark-mode .slidebar-arrow {
  background-color: #fff; /* cor de fundo */
}